<app-header></app-header>

    <div class="allEvents">
        <div><p class="labelName">Претстојни настани</p></div>
        <div class="lineEvents"></div>
        <div class="events">
            <div>
                <div class="transperantBackground">
                    <div class="eventDateOverlay">
                        <div class="eventDateOverlayText">
                        <p>06 jul</p>
                        </div>
                    </div>
                    <div class="eventTextField">
                        <div class="eventTextOverlay">
                            <p>Exit Festival</p>
                            <p>Нови Сад, Србија</p>
                            <p>06-09 јули</p>
                        </div>
                        <div class="iconHeart">
                            <i class="fa fa-heart-o"></i>
                            <i class="fa fa-heart"></i></div>
                    </div> 
                </div>
            </div>
            <div>
                <div class="transperantBackground">
                    <div class="eventDateOverlay">
                        <div class="eventDateOverlayText">
                        <p>06 jul</p>
                        </div>
                    </div>
                    <div class="eventTextField">
                        <div class="eventTextOverlay">
                            <p>Exit Festival</p>
                            <p>Нови Сад, Србија</p>
                            <p>06-09 јули</p>
                        </div>
                        <div class="iconHeart">
                            <i class="fa fa-heart-o"></i>
                            <i class="fa fa-heart"></i></div>
                    </div> 
                </div>
            </div>
            <div>
                <div class="transperantBackground">
                    <div class="eventDateOverlay">
                        <div class="eventDateOverlayText">
                        <p>06 jul</p>
                        </div>
                    </div>
                    <div class="eventTextField">
                        <div class="eventTextOverlay">
                            <p>Exit Festival</p>
                            <p>Нови Сад, Србија</p>
                            <p>06-09 јули</p>
                        </div>
                        <div class="iconHeart">
                            <i class="fa fa-heart-o"></i>
                            <i class="fa fa-heart"></i></div>
                    </div> 
                </div>
            </div>
            <div>
                <div class="transperantBackground">
                    <div class="eventDateOverlay">
                        <div class="eventDateOverlayText">
                        <p>06 jul</p>
                        </div>
                    </div>
                    <div class="eventTextField">
                        <div class="eventTextOverlay">
                            <p>Exit Festival</p>
                            <p>Нови Сад, Србија</p>
                            <p>06-09 јули</p>
                        </div>
                        <div class="iconHeart">
                            <i class="fa fa-heart-o"></i>
                            <i class="fa fa-heart"></i></div>
                    </div> 
                </div>
            </div>
            <div>
                <div class="transperantBackground">
                    <div class="eventDateOverlay">
                        <div class="eventDateOverlayText">
                        <p>06 jul</p>
                        </div>
                    </div>
                    <div class="eventTextField">
                        <div class="eventTextOverlay">
                            <p>Exit Festival</p>
                            <p>Нови Сад, Србија</p>
                            <p>06-09 јули</p>
                        </div>
                        <div class="iconHeart">
                            <i class="fa fa-heart-o"></i>
                            <i class="fa fa-heart"></i></div>
                    </div> 
                </div>
            </div>
            <div>
                <div class="transperantBackground">
                    <div class="eventDateOverlay">
                        <div class="eventDateOverlayText">
                        <p>06 jul</p>
                        </div>
                    </div>
                    <div class="eventTextField">
                        <div class="eventTextOverlay">
                            <p>Exit Festival</p>
                            <p>Нови Сад, Србија</p>
                            <p>06-09 јули</p>
                        </div>
                        <div class="iconHeart">
                            <i class="fa fa-heart-o"></i>
                            <i class="fa fa-heart"></i></div>
                    </div> 
                </div>
            </div>
            <div>
                <div class="transperantBackground">
                    <div class="eventDateOverlay">
                        <div class="eventDateOverlayText">
                        <p>06 jul</p>
                        </div>
                    </div>
                    <div class="eventTextField">
                        <div class="eventTextOverlay">
                            <p>Exit Festival</p>
                            <p>Нови Сад, Србија</p>
                            <p>06-09 јули</p>
                        </div>
                        <div class="iconHeart">
                            <i class="fa fa-heart-o"></i>
                            <i class="fa fa-heart"></i></div>
                    </div> 
                </div>
            </div>
            <div>
                <div class="transperantBackground">
                    <div class="eventDateOverlay">
                        <div class="eventDateOverlayText">
                        <p>06 jul</p>
                        </div>
                    </div>
                    <div class="eventTextField">
                        <div class="eventTextOverlay">
                            <p>Exit Festival</p>
                            <p>Нови Сад, Србија</p>
                            <p>06-09 јули</p>
                        </div>
                        <div class="iconHeart">
                            <i class="fa fa-heart-o"></i>
                            <i class="fa fa-heart"></i></div>
                    </div> 
                </div>
            </div>
            <div>
                <div class="transperantBackground">
                    <div class="eventDateOverlay">
                        <div class="eventDateOverlayText">
                        <p>06 jul</p>
                        </div>
                    </div>
                    <div class="eventTextField">
                        <div class="eventTextOverlay">
                            <p>Exit Festival</p>
                            <p>Нови Сад, Србија</p>
                            <p>06-09 јули</p>
                        </div>
                        <div class="iconHeart">
                            <i class="fa fa-heart-o"></i>
                            <i class="fa fa-heart"></i></div>
                    </div> 
                </div>
            </div>
        </div>
    </div>

<app-footer></app-footer>
